<div style="display: flex; gap: 1em; max-width: 650px;">

<img src="/modules/summoner-class-for-5e/assets/title.webp" width="300" alt="logo" />
<div style="flex: 1; display: flex; flex-direction: column;">
    <p>Thanks for installing the Summoner Class for 5e module! This module adds a new class 
    to the D&amp;D 5e system, the Summoner.</p>

    <p>The Summoner is a spellcaster that can summon powerful 
    creatures to fight for them. The class is based on the Summoner class from the Pathfinder RPG, 
    but has been adapted to fit into the 5th edition of Dungeons & Dragons. The class is designed 
    to be balanced with the other classes in the game, and should be suitable for use in any campaign. 
    The class is fully integrated with Foundry VTT, and should work with any other modules or systems 
    that you have installed. Enjoy the module!</p>

    <button class="usage" style="margin-bottom: 4px;">Usage Instructions (for players)</button>
    <button class="setup">Setup Instructions (for DMs)</button>

    <div style="flex: 1"></div>
    <p style="display: flex; align-items: center;">
        <input type="checkbox" id="showWelcome" /> <label for="showWelcome">Don't show this again</label>
    </p>
</div>